<div class="content-wrapper">
  <br class="visible-xs" />
  <br class="visible-xs" />
  <form #registroForm="ngForm">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Perfil de Usuario</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <div class="col-xs-12" style="padding-bottom:15px">
                <div class="form-group col-md-4">
                  <label>Tipo de usuario</label><br />
                                                <span><i class="fa fa-archive" aria-hidden="true"></i> {{UsuarioComp[0].tipo_usuario}}</span>
                </div>
                <div class="form-group col-md-4">
                  <label>Nivel</label><br />
                                      <span><i class="fa fa-archive" aria-hidden="true"></i> {{UsuarioComp[0].nivel}}</span>
                </div>
              </div>
              <div class="col-xs-12" style="padding-bottom:15px">
                <div class="form-group col-md-4">
                  <label>Canal </label><br />
                                       <span><i class="fa fa-briefcase" aria-hidden="true"></i> {{UsuarioComp[0].canal}}</span>
                </div>
                <div class="form-group col-md-4">
                  <label>Cuenta</label><br />
                                       <span><i class="fa fa-briefcase" aria-hidden="true"></i> {{UsuarioComp[0].cuenta }}&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div class="form-group col-md-4">
                  <label>Sucursal</label><br />
                                         <span><i class="fa fa-briefcase" aria-hidden="true"></i> {{UsuarioComp[0].sucursal }}&nbsp;&nbsp;&nbsp;</span>
                </div>
              </div>

              <div class="col-xs-12" style="padding-bottom:15px">
                <div class="form-group col-md-4">
                  <label>Nombre(s)</label><br />
                  <span><i class="fa fa-address-card-o" aria-hidden="true"></i> {{user.name}}</span>
                </div>
                <div class="form-group col-md-4">
                  <label>Apellido paterno</label><br />
                  <span><i class="fa fa-address-card-o" aria-hidden="true"></i> {{user.paterno}}</span>
                </div>
                <div class="form-group col-md-4">
                  <label>Apellido materno</label><br />
                  <span><i class="fa fa-address-card-o" aria-hidden="true"></i> {{user.materno}}</span>
                </div>
              </div>

              <div class="col-xs-12" style="padding-bottom:15px">
                <div class="form-group col-md-4">
                  <label>Email</label><br />
                  <span><i class="fa fa-envelope-o" aria-hidden="true"></i> {{user.email}}</span>
                </div>
                <div class="form-group col-md-4">
                  <label>Télefono fijo</label><br />
                  <span><i class="fa fa-phone" aria-hidden="true"></i> {{user.telefono}}</span>
                </div>
                <div class="form-group col-md-4">
                  <label>Télefono celular</label><br />
                  <span><i class="fa fa-mobile" aria-hidden="true"></i> {{user.movil}}</span>
                </div>
              </div>

            </div>

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </form>
</div>
