<div class="row margin-bottom banner-rojo">
  <div class="container">
    <br>
    <div class="col-xs-12 text-center">
      <h1 class="negritas">¿Olvidaste tu contraseña?</h1> <h3>No te preocupes, a todos nos pasa. Solo introduce tu correo electrónico con el que te registraste, para que recibas todas las instrucciones para recuperar tu cuenta.</h3>
      <br>
    </div>
  </div>
</div>
<div class="login_wrapper">
  <form #recuperarForm="ngForm">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Recuperar contraseña</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group col-xs-12">
                <label>Correo eléctronico</label>
                <input type="text" id="email" name="email" class="form-control" [(ngModel)]="emailsend" #email="ngModel" placeholder="Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" />
                <div class="alert" [className]="aviso" *ngIf="!email.invalid">
                  <span>{{message}}</span>
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                     class="alert alert-danger">
                  <div *ngIf="email.errors.required">
                    Email requerido.
                  </div>
                  <div *ngIf="email.errors && email.errors.pattern">
                    El Email no es valido (ej. ejemplo@dominio.com)
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-xs-6 text-center">
            <button type="submit" (click)="recuperar($event)" class="pull-center btn btn-default btn-default-rojo" [disabled]="recuperarForm.invalid">
              Recuperar
            </button>
          </div>
          <div class="col-xs-6 text-center">
            <button  routerLink="/login" class="pull-center btn btn-default btn-default-rojo" [disabled]="recuperarForm.invalid">
              Ingresar
            </button>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </section>
  </form>
</div>
