body {
  height: 100%;
  width: 100%;
  position: absolute;
}

.negritas {
  font-weight: bold;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  color: #847d70;
}

.btn-default {
  background-color: #EEEDEB;
  color: #847d70;
  border-color: #ddd;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
}

.btn-default-rojo {
  background-color: #A5000D;
  color: #fff;
  border-color: #A5000D;
}

  .btn-default-rojo:hover {
    background-color: #A5000D;
    color: #fff;
    border-color: #A5000D;
  }

.alert-danger-aviso {
  background-color: #FFDB4B;
  border-color: #FFDB4B;
  color: #847d70;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
}

.alert-danger-aviso-rojo {
  background-color: #A5000D;
  border-color: #A5000D;
  color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
}


.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}
