
.login_wrapper {
  right: 0px;
  margin: 0px auto;
  margin-top: 5%;
  max-width: 350px;
  position: relative;
}

.login-back {
  background-color: #fff;
  box-shadow: 2px 2px 10px 1px #888888;
  border-radius: 3px
}

.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 10px 10px 10px 10px;
}

.txtpading {
  padding: 10px 20px 10px 20px;
}

.btn-lg {
  padding: 5px 40px;
  font-size: 15px;
  line-height: 1.3333333;
  border-radius: 3px;
}

.btn-default {
  background-color: #EEEDEB;
  color: #847d70;
  border-color: #ddd;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
}
