.btn-default {
  background-color: #EEEDEB;
  color: #847d70;
  border-color: #ddd;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
}

.btn-default-rojo {
  background-color: #A5000D;
  color: #fff;
  border-color: #A5000D;
}

  .btn-default-rojo:hover {
    background-color: #A5000D;
    color: #fff;
    border-color: #A5000D;
  }

.alert-danger-aviso {
  background-color: #FFDB4B;
  border-color: #FFDB4B;
  color: #847d70;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
}
