.btn-default {
  background-color: #EEEDEB;
  color: #847d70;
  border-color: #ddd;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
}

.btn-default-rojo {
  background-color: #A5000D;
  color: #fff;
  border-color: #A5000D;
}

  .btn-default-rojo:hover {
    background-color: #A5000D;
    color: #fff;
    border-color: #A5000D;
  }

.alert-danger-aviso {
  background-color: #FFDB4B;
  border-color: #FFDB4B;
  color: #847d70;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
}

input[type='file'] {
  font-size: 14px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.customWidthClass {
  flex: 0 0 50px;
  font-size: 12px;
  font-weight: 500;
  padding: 0px 5px 0px 5px;
}

.customWidthClass0 {
  flex: 0 0 85px;
  font-size: 11px;
  font-weight: 400;
  padding: 0px 5px 0px 5px;
}

.customWidthClass1 {
  flex: 0 0 170px;
  font-size: 11px;
  font-weight: 400;
  padding: 0px 5px 0px 5px;
}

.customWidthClass2 {
  flex: 0 0 120px;
  font-size: 11px;
  font-weight: 400;
  padding: 0px 5px 0px 5px;
}

.mat-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0px;
}

/*.mat-header-row, .mat-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 10px;
}*/
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}



.mat-card {
  padding: 50px;
}


