
.icono {
  font-size: 15px
}

.texto-menu {
  font-size: 14px;
  font-weight: bolder;
}

.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  min-height: 100%;
  width: 230px;
  /* z-index: 810; */
  transition: width 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.sidebar-menu > li {
  position: relative;
   margin: 0; 
  padding: 5px 0 5px 0;
}

/*
.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}

.main-header .logo {
  transition: width 0.3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 25px;
  font-weight: 300;
  overflow: hidden;
}
*/
