/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.content-wrapper {
  background-color: #F4F4F4 !important;
}

.blue-snackbar {
  background-color: #A5000D;
}

.full-width {
  width: 100%;
}
